---
layout: default
title: Writing
permalink: /writing/
---

<article>
  {% assign published_posts = site.posts | where_exp: "post", "post.layout == 'post'" %}
  {% assign posts_by_year = published_posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in posts_by_year %}
    <h1>{{ year.name }}</h1>
    {% for post in year.items %}
      {% if post.layout == "post" %}
        <p><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%-m/%-d"}}</span>
      {% endif %}
    {% endfor %}
  {% endfor %}
</article>

<article>
  <p>
    My name is {{ site.author | escape }}, I'm a {{ site.author_tagline }}.
    This is a collection of personal posts about software engineering and technology.
  </p>

  New posts via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> or
  <a href="{{ site.twitter }}">Twitter</a>
</article>
