{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

{% capture posts %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}" class="footer-link">
          {{ post.title }}
        </a>
      </li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

{% endcapture %}

{% if maxRelatedCounter > 0 %}
    <div class="related-posts">
      <h3>Related Posts</h3>
      <ul>
        {{ posts }}
      </ul>
    </div>

  {% endif %}