<footer class="site-footer">
  <div class="footer-bottom">
    <p class="footer-copyright">
      © 2025 Alex Kotliarskyi. All rights reserved.
    </p>
    <p class="footer-colophon social-links">
      <a target="_blank" href="https://x.com/alex_frantic">Twitter</a>
      <a target="_blank" href="https://bsky.app/profile/frantic.im">Bluesky</a>
      <a target="_blank" href="https://github.com/frantic">GitHub</a>
    </p>
  </div>
</footer>
