---
layout: default
title: Blog
permalink: /blog/
css: |
  .draft::before {
    content: "✎";
    color: black;
    margin: 0 0.5em 0 -1.5em;
  }
---
{% include menu.html %}

<article>
  {% include about.html %}

  {% assign published_posts = site.posts | where_exp: "post", "post.layout == 'post'" %}
  {% assign posts_by_year = published_posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in posts_by_year %}
    <h1>{{ year.name }}</h1>
    {% for post in year.items %}
      {% if post.draft %}
        {% assign class = "draft" %}
      {% else %}
        {% assign class = "post" %}
      {% endif %}
      <p class="{{ class }}">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%-m/%-d"}}</span>
      </p>
    {% endfor %}
  {% endfor %}
</article>
