---
layout: page
title: Blog
permalink: /blog/
---

<p>All {{ site.posts | size }} posts since 2016. Starred (★) are my favorites. See also blog <a href="https://u.frantic.im/share/PdxrhczkbRQVIp61/frantic.im">analytics</a>.</p>

<div class="related-posts">
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>{% if post.featured %} <span class="featured-star" title="Featured">★</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% include subscribe.html %}
{% include footer.html %}
