---
layout: default
title: Talks
permalink: /talks/
css: |
  td {
    vertical-align: top;
  }
talks:
  - title: Building stellar user experiences with React Native
    type: video
    location: Chain React
    date: 2017-07-18
    url: https://www.youtube.com/watch?v=fjS5ssBn3fA
  - title: Software Development in Silicon Valley
    type: video
    location: Kyiv Polytechnic Institute
    date: 2016-12-03
    url: https://www.youtube.com/watch?v=5n9vuCuKA-Q
  - title: React Native Intro Class
    type: video
    location: Airbnb
    date: 2016-09-13
    url: https://www.youtube.com/watch?v=I8b0v0uFXLs
  - title: "React Native: Under the Hood"
    type: video
    location: You Gotta Love Frontend Conference
    date: 2015-08-12
    url: https://www.youtube.com/watch?v=hDviGU-57lU
  - title: React Native Tutorial
    type: video
    location: React NYC Meetup
    date: 2015-03-26
    url: https://speakerdeck.com/frantic/react-native-tutorial-nyc-15

---
{% include menu.html %}

<article>
  {% for talk in page.talks %}
    <p>
      <a href="{{ talk.url }}">{{ talk.title }}</a>
      <span class="date">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg> {{ talk.location }}
      {{ talk.date | date: "%-m/%-d/%-Y"}}</span>
  {% endfor %}
</article>
