<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640" />

    <title>{% if page.title %}{{ page.title | escape }} / {% endif %}{{ site.title | escape }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@alex_frantic">
    <meta name="twitter:creator" content="@alex_frantic">
    <meta name="twitter:title" content="{{ page.title | escape }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" type="image/png" href="/favicon.png">

    <style type="text/css" media="screen">
      {% include styles.css %}
      {{ page.css }}
    </style>
  </head>

  <body>
    {{ content }}

    <script>
      window.GoogleAnalyticsObject = 'ga';
      window.ga = window.ga || function() {
        (window.ga.q = window.ga.q || []).push(arguments);
      };
      window.ga.l = Date.now();

      ga('create', 'UA-96545608-1', 'auto');
      ga(function(tracker) {
        tracker.set('sendHitTask', function(model) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', 'https://curiosity-idcqztjvvw.now.sh/ev?' + model.get('hitPayload'), true);
          xhr.send();
        });
      });
      ga('send', 'pageview');
    </script>
    <script src="https://curiosity-idcqztjvvw.now.sh/leet.js" async></script>
  </body>
</html>
