<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title | escape }} / {% endif %}{{ site.title | escape }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
    <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@alex_frantic">
    <meta name="twitter:creator" content="@alex_frantic">
    <meta name="twitter:title" content="{{ page.title | escape }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">

    <link id="favicon" rel="icon" type="image/png" href="/favicon.png">
    <script>
      if ('ethereum' in window) {
        document.getElementById('favicon').href = '/assets/favicon-hex.png';
      }
    </script>

    <style type="text/css" media="screen">
      {% include styles.css %}
      {{ page.css }}
    </style>
  </head>

  <body>
    {{ content }}

    {% if site.dev %}
    <script>
      new EventSource('/changes').addEventListener('change', () => window.location.reload());
      </script>
    {% else %}
    <script defer src="https://u.frantic.im/script.js" data-website-id="cd2ea49a-5998-477e-8f35-a6ab8d2df514"></script>
    {% endif %}
  </body>
</html>
