---
layout: default
---

<div class="container">
  {% include header.html %}

  <main>
    <article class="article {{ class }}">
      <h1 class="article-title">
        <a href="{{ page.url }}"> {{ page.title }} </a>
      </h1>
      {% if page.date %}
      <div class="article-meta">
        {{ page.date | date: "%b %-d, %Y" }} by {{ site.author }}
      </div>
      {% endif %}
      <div class="article-content">{{ content }}</div>
    </article>

    {% include related.html %}
  </main>

  {% include footer.html %}
</div>
