---
layout: default
---

<div class="container">
  {% include header.html %}

  <main>
    <article class="article {{ class }}">
      <h1 class="article-title" data-nosnippet>
        <a href="{{ page.url }}"> {{ page.title }} </a>
      </h1>
      {% if page.date %}
      <div class="article-meta" data-nosnippet>
        {{ page.date | date: "%b %-d, %Y" }} by {{ site.author }}
      </div>
      {% endif %}
      {% if page.image %}{% assign post_og = page.image %}<img class="article-og article-og--custom" src="{{ post_og }}" alt="" />
      {% else %}{% assign post_og = page.url | remove_first: '/' | prepend: '/assets/og/' | append: '.png' %}<img class="article-og" src="{{ post_og }}" alt="" width="1200" height="630" />
      {% endif %}
      <div class="article-content">{{ content }}</div>
    </article>

    {% include related.html %}
  </main>

  {% include footer.html %}
</div>
