---
layout: default
---
<article>
  <a class="navigation" href="/writing">
    <span class="back">⇠</span> frantic.im
  </a>
  <header>
    {% if page.translations %}
      <small>
        Translations:
        {% for translation in page.translations %}
          <a href="{{ translation[1] }}">{{ translation[0] }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </small>
    {% endif %}
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
  <footer>
    <a href="mailto:{{ site.email | escape }}?subject={{ page.title | escape }}" title="Yep. Email. Pretty oldschool, huh?">Submit a comment.</a>
    <a href="/writing">See more posts</a>.
    Written by <a href="/">{{ site.author | escape }}</a>, {{ site.author_tagline | escape}}.
    This blog has <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a> and <a href="{{ site.twitter }}">Twitter</a>.
  </footer>
</article>

